---
import "../assets/global.css";
import HistoryVisualization from '../components/HistoryVisualization';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>AI Life Simulation History</title>
</head>
<body>
        <div class="container p-1 md:p-5">
            <h1>AI Life Simulation History</h1>
            <div id="history-container">
                <a href="/" class="text-blue-500 hover:text-blue-700">Back To Live</a>
                <HistoryVisualization client:load />
            </div>
        </div>
</body>
</html>

<style is:global>
    html, body {
        font-family: 'Arial', sans-serif;
        background-color: #1e1e1e;
        color: #d4d4d4;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    h1 {
        text-align: center;
    }
    #history-container {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (min-width: 768px) {
        #history-container {
            flex-direction: row;
            align-items: flex-start;
        }
    }
</style>
